html,body,.container,.full-height {
    height:100vh;
}
img {
  border-radius: 50%;
  display: inline;
}
.userCard {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
span {
  display: inline;
}