html,body,.container,.full-height {
    height:100vh;
}
.messageWrapper {
    width: 100%;
    flex-basis: 100%;
}
.ownMessage {
    display: flex;
    align-items: center;
    float:right;
    width: 100%;
}
.otherMessage {
    display: flex;
    align-items: center;
    float:left;
    
}
.messageImg {
    width: 35px;
    border-radius: 50%;
}


.userCardImg {
    width: 55px;
    border-radius: 50%;
}
.userCard {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}