.ownMessage{
    display:flex;
    justify-content: right;
}
.ownMessage > span > span > p {
    padding-top: 9px;
} 
.otherMessage{
    display:flex;
    justify-content: left;
}
.message > span{
    margin: 5px 20px 5px 20px;
}
.message > span > img {
    width: 42px;
    border-radius: 50%;
    vertical-align: top;
}
.message > span > span {
    display:inline-block;
}
.nameBadge {
    font-weight:700;
    font-size: small;
    margin:0;
    padding:0;
}


.userCardImg {
    width: 55px;
    border-radius: 50%;
}
.userCard {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navbar img {
    height: 50px;
}